@-webkit-keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes turn {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
}

/**
*LogIn =============
**/
.header {
  position: fixed;
  top: 5px;
  left: 5px;
  color: #ddd;
}

.log-in {
  width: 50%;
  min-height: 20vh;
  margin: 150px auto;
  border: 1px solid #000;
  background-color: #eee;
  -webkit-box-shadow: 5px 5px 10px #aaa;
          box-shadow: 5px 5px 10px #aaa;
}

.logo {
  width: 128px;
  height: 128px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form h2 {
  margin-top: 0;
  text-align: center;
}

.label {
  width: 80%;
  height: 30px;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.label span {
  padding: 5px;
  text-transform: uppercase;
  font-size: 14px;
}

.input-form {
  height: 35px;
  width: 65%;
  padding: 0 0 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-form:focus {
  background-color: #d2f3d2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-form:focus::-webkit-input-placeholder {
  color: #d2f3d2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-form:focus:-ms-input-placeholder {
  color: #d2f3d2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-form:focus::-ms-input-placeholder {
  color: #d2f3d2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-form:focus::placeholder {
  color: #d2f3d2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-form::-webkit-input-placeholder {
  color: #ccc;
  font-size: 12px;
}

.input-form:-ms-input-placeholder {
  color: #ccc;
  font-size: 12px;
}

.input-form::-ms-input-placeholder {
  color: #ccc;
  font-size: 12px;
}

.input-form::placeholder {
  color: #ccc;
  font-size: 12px;
}

.input-error {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #e47c7c;
}

.block-icons-form {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-icons-form .icon-block {
  margin: 5px 9px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-icons-form .icon-block:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn {
  outline: none;
  cursor: pointer;
  border: none;
}

.btn-submit {
  width: 170px;
  height: 40px;
  margin: 20px auto;
  background-color: #ccc;
  color: #fff;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-submit:hover {
  background-color: #814848;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 3px 3px 5px #000;
          box-shadow: 3px 3px 5px #000;
}

.btn-submit:active {
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-reg {
  margin: 5px;
  background-color: #ddd;
  color: #999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-reg:hover {
  background-color: #ccc;
  color: #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/****************************/
.welcome {
  width: 100%;
  position: relative;
}

.welcome__block {
  width: 90%;
  min-height: 40vh;
  background-color: #f5d5ab;
  margin: 10vh auto;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.welcome__block h3 {
  text-align: center;
}

.welcome__block_image {
  position: fixed;
}

.welcome__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__content div {
  margin: 10px;
}

.welcome__link {
  position: absolute;
  bottom: 10px;
  left: 100px;
}

/********************************/
.time-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.timing {
  width: 220px;
  height: 50px;
  margin: 0 20px;
  padding: 10px 0;
  background-color: #f5bfbf;
  color: red;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid red;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.svg-clock {
  width: 20px;
  margin: 0 0 0 20px;
  -webkit-animation: turn 3s linear infinite;
          animation: turn 3s linear infinite;
}

/*************/
.header-trade {
  width: 100%;
  min-height: 10vh;
  margin: 0 0 10px 0;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.header-trade span {
  color: #a51212;
  font-size: 24px;
}

.information-text {
  width: 60%;
  color: #a51212;
}

.blue {
  color: blue;
  font-weight: 700;
}

.red {
  color: red;
  font-weight: 700;
}

.green {
  color: green;
  font-weight: 700;
}

.bg-gray {
  background-color: #eee;
}

.line-bottom {
  border-bottom: 1px solid #ccc;
}

.company-block {
  margin-left: 0;
}

.member {
  width: 100vw;
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.member__title-block {
  max-width: 450px;
  min-width: 450px;
}

.member__title-block h4,
.member__title-block h5 {
  color: #2c5f99;
  text-transform: uppercase;
  font-size: 16px;
}

.member__block {
  min-width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.member__block h4,
.member__block h5 {
  color: #2c5f99;
  text-transform: uppercase;
  font-size: 16px;
}

.member :hover {
  opacity: 0.5;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-container-trade {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.btn-trade {
  margin: 0 5px;
  border-radius: 0;
}

.btn-svg-icon {
  width: 22px;
  height: 22px;
  fill: #fff;
}

.btn-trade:hover .btn-svg-icon {
  -webkit-animation: turn 1.25s;
          animation: turn 1.25s;
}

.modal {
  width: 100%;
  position: relative;
}

.modal__shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 11;
}

.modal__window {
  position: absolute;
  top: 40px;
  left: 25%;
  width: 50%;
  height: 30vh;
  background-color: #fff;
  opacity: 1;
  z-index: 12;
}
